body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003153; /* Цвет фона */
    color: #f8dd6d; /* Цвет текста */
    padding: 10px;
    text-align: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    padding-bottom: 70px; /* Отступ для футера */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 30px; /* Установите явную высоту футера */
    display: flex;
    justify-content: center;
    align-items: center; /* Центрирует текст по вертикали */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

/* Основные стили для формы записи */
.appointment-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.appointment-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.appointment-form input[type="text"],
.appointment-form input[type="email"],
.appointment-form input[type="tel"],
.appointment-form input[type="date"],
.appointment-form input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.appointment-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.appointment-form input[type="submit"]:hover {
    background-color: #45a049;
}
