<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас - Сайт косметологии</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>О нас</h1>
        <nav>
            <a href="{{ url_for('index') }}">Главная</a>
            <a href="{{ url_for('appointments') }}">Процедуры</a>
            <a href="{{ url_for('about') }}">О нас</a>
        </nav>
    </header>
    <main>
        <section class="about">
            <h2>Наша история</h2>
            <p>Мы начали нашу работу в 2010 году с целью предоставить качественные косметологические услуги в дружелюбной и профессиональной атмосфере. Наша команда состоит из опытных специалистов, которые всегда готовы помочь вам выглядеть и чувствовать себя наилучшим образом.</p>

            <h2>Наша миссия</h2>
            <p>Наша миссия - это поддержка и улучшение вашего внешнего вида и самочувствия с помощью самых современных методов и технологий. Мы стремимся предоставить нашим клиентам исключительный сервис и индивидуальный подход, делая каждую процедуру уникальной.</p>

            <h2>Наша команда</h2>
            <div class="team">
                <div class="team-member">
                    <img src="{{ url_for('static', filename='img/team_member_1.jpg') }}" alt="Член команды 1">
                    <h3>Ирина Иванова</h3>
                    <p>Главный косметолог с 15-летним опытом работы в индустрии красоты. Специализируется на омолаживающих процедурах и уходе за кожей.</p>
                </div>
                <div class="team-member">
                    <img src="{{ url_for('static', filename='img/team_member_2.jpg') }}" alt="Член команды 2">
                    <h3>Анна Петрова</h3>
                    <p>Косметолог-дерматолог с большим опытом работы. Помогает клиентам выбрать индивидуальные уходовые процедуры и предоставляет консультации по уходу за кожей.</p>
                </div>
                <div class="team-member">
                    <img src="{{ url_for('static', filename='img/team_member_3.jpg') }}" alt="Член команды 3">
                    <h3>Екатерина Сергеевна</h3>
                    <p>Косметолог-дерматолог с большим опытом работы. Помогает клиентам выбрать индивидуальные уходовые процедуры и предоставляет консультации по уходу за кожей.</p>
                </div>
                <!-- Добавьте больше членов команды по аналогии -->
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Сайт косметологии. Все права защищены.</p>
    </footer>
</body>
</html>
